.schedule__container,
.hosts__container {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.schedule__container {
  flex: 3;
}

.hosts__container {
  flex: 2;
}

.schedule__hosts-content {
  display: flex;
  width: 100%;
  max-width: 85%;
  gap: 1rem;
}

.schedule__container {
  padding: auto;
}

.schedule__header,
.hosts__header {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--color-white);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.schedule__item {
  display: flex;
  margin-bottom: 0.8rem;
  color: var(--color-white);
}

.schedule__time {
  background-color: var(--third-color);
  color: #ffffff;
  padding: 1rem;
  min-width: 150px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-radius: 0.5rem 0 0 0.5rem;
}

.schedule__program,
.schedule__program-special {
  background-color: var(--primary-color);
  align-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  width: 100%;
}

.schedule__program-special {
  background-color: #e85b5b;
}

.host__item {
  display: flex;
  margin-bottom: 1rem;
  background-color: #f8f8f8;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #f0f0f0;
  transition: transform 0.2s;
  color: var(--color-black);
  padding: 1rem;
}

.host__item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.host__photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  border: 2px solid var(--primary-color);
}

.host__photo img {
  width: 100%;
  height: 100%;
}

.host-info {
  flex-grow: 1;
}

.host__name {
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 4px;
}

.host__show {
  color: #288e42;
  font-weight: bold;
}

.host__schedule {
  font-size: 1rem;
  color: #666;
  margin-top: 0.3rem;
}

@media screen and (max-width: 768px) {
  .schedule__hosts-content {
    max-width: 95%;
  }

  .schedule__time {
    min-width: 110px;
    padding: 1rem 0.3rem;
    font-size: 0.8rem;
    justify-content: center;
  }

  .schedule__program,
  .schedule__program-special {
    font-size: 0.8rem;
  }

  .host__item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .host__name {
    margin-bottom: 1rem;
  }

  .host__show-schedule {
    margin-top: 1rem;
  }

  .host__show {
    font-size: 0.9rem;
  }

  .host__schedule {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .schedule__hosts-content {
    flex-direction: column;
    max-width: 85%;
    gap: 1rem;
  }

  .schedule__item {
    flex-direction: column;
    margin-bottom: 0.6rem;
  }

  .schedule__time {
    border-radius: 0.5rem 0.5rem 0 0;
    text-align: center;
    justify-content: center;
    padding: 0.6rem;
    font-size: 0.9rem;
  }

  .schedule__program,
  .schedule__program-special {
    border-radius: 0 0 0.5rem 0.5rem;
    text-align: center;
    font-size: 0.8rem;
  }
}
